nav{
    display: flex;
    justify-content: space-between;
    background: #052535;
    align-items: center;
    height: 80px;
    
    
}
.nav-logo{
    margin: 0 60px;
}

.nav-logo a {
    text-decoration: none;
    color: #ffffff;
  }
  
.nav-logo h1{
    color: #ffffff;
    width: 100px;
    font-size: 50px;
    font-weight: 700;
}
.nav-items {
  margin-right: 70px;
  color: #ffffff;
  font-size: 16px;
  
  display: flex;          /* make children horizontal */
  gap: 30px;              /* spacing between items */
  align-items: center;    /* vertical center alignment */
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;   /* vertically center icon + text */
  gap: 6px;              /* spacing between icon and text */
  font-weight: 500;
}

button.nav-links {
  background: transparent;
  border: none;
  cursor: pointer;
}
